<?xml version="1.0"?>
<launch>

	<!-- Controller configuration -->
	<!--arg name="controller_config_file" default="$(find ur_gazebo)/config/ur5_controllers.yaml" doc="Config file used for defining the ROS-Control controllers."/-->
	<arg name="controller_config_file" default="$(find ur_gazebo)/config/ur5_gripper_controller.yaml" doc="Config file used for defining the ROS-Control controllers."/>
	<arg name="controllers" default="arm_controller gripper_controller" doc="Controllers that are activated by default."/>
	<arg name="stopped_controllers" default="joint_group_velocity_controller" doc="Controllers that are initally loaded, but not started."/>

  <!-- robot_state_publisher configuration -->
	<arg name="tf_prefix" default="" doc="tf_prefix used for the robot."/>
	<arg name="tf_pub_rate" default="125" doc="Rate at which robot_state_publisher should publish transforms."/>

  <!-- Robot state publisher -->
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
		<param name="publish_frequency" type="double" value="$(arg tf_pub_rate)" />
		<param name="tf_prefix" value="$(arg tf_prefix)" />
	</node>

  <!-- Load and start the controllers listed in the 'controllers' arg. -->
  <node name="ros_control_controller_spawner" pkg="controller_manager" type="spawner"
    args="$(arg controllers)" output="screen" respawn="false" />

  <!-- Load other controllers, but do not start them -->
  <node name="ros_control_stopped_spawner" pkg="controller_manager" type="spawner"
    args="--stopped $(arg stopped_controllers)" output="screen" respawn="false" />

</launch>
